In [1]:
import pandas as pd
import numpy as np

In [2]:
na_vals = ['NA' , 'Missing']
df = pd.read_csv('data/survey_results_public.csv' , index_col='Respondent' , na_values=na_vals)
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [3]:
pd.set_option('display.max_columns' , 61)
pd.set_option('display.max_rows' , 61)

In [4]:
df

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a decade,NaN,NaN,NaN,NaN,Start a free trial,Amused,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend,Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,NaN,NaN,NaN,Primary/elementary school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,DynamoDB;Elasticsearch;MongoDB;MySQL;PostgreSQL,Oracle,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript,HTML/CSS,Node.js,NaN,Github;Gitlab,Confluence;Jira;Slack;Microsoft Teams,NaN,NaN,NaN,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow,Windows,NaN,NaN,Linux;Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,MariaDB;Microsoft SQL Server,MariaDB;Microsoft SQL Server;MySQL;Oracle,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Java;JavaScript;SQL,C#;HTML/CSS;Java;JavaScript;SQL,.NET Core;Xamarin,.NET;.NET Core,Github;Microsoft Teams,Github,NaN,NaN,Critically important,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial;Ask developers I know/work ...,Indifferent,NaN,Meditate;Visit Stack Overflow;Go for a walk or...,Windows,NaN,Arduino;Linux;Raspberry Pi;Windows,Android;Arduino;Linux;Raspberry Pi;Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [5]:
df.tail()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a decade,NaN,NaN,NaN,NaN,Start a free trial,Amused,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend,Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,NaN,NaN,NaN,Primary/elementary school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,DynamoDB;Elasticsearch;MongoDB;MySQL;PostgreSQL,Oracle,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript,HTML/CSS,Node.js,NaN,Github;Gitlab,Confluence;Jira;Slack;Microsoft Teams,NaN,NaN,NaN,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow,Windows,NaN,NaN,Linux;Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,MariaDB;Microsoft SQL Server,MariaDB;Microsoft SQL Server;MySQL;Oracle,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Java;JavaScript;SQL,C#;HTML/CSS;Java;JavaScript;SQL,.NET Core;Xamarin,.NET;.NET Core,Github;Microsoft Teams,Github,NaN,NaN,Critically important,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial;Ask developers I know/work ...,Indifferent,NaN,Meditate;Visit Stack Overflow;Go for a walk or...,Windows,NaN,Arduino;Linux;Raspberry Pi;Windows,Android;Arduino;Linux;Raspberry Pi;Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [6]:
df.shape  #(rows, columns)

(64461, 60)

In [7]:
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64461 entries, 1 to 65112
Data columns (total 60 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   MainBranch                    64162 non-null  object
 1   Hobbyist                      64416 non-null  object
 2   Age                           45446 non-null  float64
 3   Age1stCode                    57900 non-null  object
 4   CompFreq                      40069 non-null  object
 5   CompTotal                     34826 non-null  float64
 6   ConvertedComp                 34756 non-null  float64
 7   Country                       64072 non-null  object
 8   CurrencyDesc                  45472 non-null  object
 9   CurrencySymbol                45472 non-null  object
 10  DatabaseDesireNextYear        44070 non-null  object
 11  DatabaseWorkedWith            49537 non-null  object
 12  DevType                       49370 non-null  object
 13  EdLevel                       57431 non-null  object
 14  Employment                    63854 non-null  object
 15  Ethnicity                     45948 non-null  object
 16  Gender                        50557 non-null  object
 17  JobFactors                    49349 non-null  object
 18  JobSat                        45194 non-null  object
 19  JobSeek                       51727 non-null  object
 20  LanguageDesireNextYear        54113 non-null  object
 21  LanguageWorkedWith            57378 non-null  object
 22  MiscTechDesireNextYear        42379 non-null  object
 23  MiscTechWorkedWith            40314 non-null  object
 24  NEWCollabToolsDesireNextYear  47287 non-null  object
 25  NEWCollabToolsWorkedWith      52883 non-null  object
 26  NEWDevOps                     42686 non-null  object
 27  NEWDevOpsImpt                 41732 non-null  object
 28  NEWEdImpt                     48465 non-null  object
 29  NEWJobHunt                    42286 non-null  object
 30  NEWJobHuntResearch            41022 non-null  object
 31  NEWLearn                      56156 non-null  object
 32  NEWOffTopic                   50804 non-null  object
 33  NEWOnboardGood                42623 non-null  object
 34  NEWOtherComms                 57205 non-null  object
 35  NEWOvertime                   43231 non-null  object
 36  NEWPurchaseResearch           37321 non-null  object
 37  NEWPurpleLink                 54803 non-null  object
 38  NEWSOSites                    58275 non-null  object
 39  NEWStuck                      54983 non-null  object
 40  OpSys                         56228 non-null  object
 41  OrgSize                       44334 non-null  object
 42  PlatformDesireNextYear        50605 non-null  object
 43  PlatformWorkedWith            53843 non-null  object
 44  PurchaseWhat                  39364 non-null  object
 45  Sexuality                     43992 non-null  object
 46  SOAccount                     56805 non-null  object
 47  SOComm                        56476 non-null  object
 48  SOPartFreq                    46792 non-null  object
 49  SOVisitFreq                   56970 non-null  object
 50  SurveyEase                    51802 non-null  object
 51  SurveyLength                  51701 non-null  object
 52  Trans                         49345 non-null  object
 53  UndergradMajor                50995 non-null  object
 54  WebframeDesireNextYear        40024 non-null  object
 55  WebframeWorkedWith            42279 non-null  object
 56  WelcomeChange                 52683 non-null  object
 57  WorkWeekHrs                   41151 non-null  float64
 58  YearsCode                     57684 non-null  object
 59  YearsCodePro                  46349 non-null  object
dtypes: float64(4), object(56)
memory usage: 30.0+ MB

Index(['MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq', 'CompTotal',
       'ConvertedComp', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [8]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [9]:
df.loc[1, 'Hobbyist']

'Yes'

In [10]:
df.loc[ [1 , 2 , 3] , 'Hobbyist']

Respondent
1    Yes
2     No
3    Yes
Name: Hobbyist, dtype: object

In [11]:
df.loc[ :2 , 'Hobbyist':'Country']

,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country
Respondent,,,,,,,
1,Yes,NaN,13,Monthly,NaN,NaN,Germany
2,No,NaN,19,NaN,NaN,NaN,United Kingdom

In [12]:
schema_df.set_index('Column' , inplace=True)

In [13]:
schema_df

                                                                   QuestionText
Column
Respondent                    Randomized respondent ID number (not in order ...
MainBranch                    Which of the following options best describes ...
Hobbyist                                                Do you code as a hobby?
Age                           What is your age (in years)? If you prefer not...
Age1stCode                    At what age did you write your first line of c...
CompFreq                       Is that compensation weekly, monthly, or yearly?
CompTotal                     What is your current total compensation (salar...
ConvertedComp                 Salary converted to annual USD salaries using ...
Country                                                      Where do you live?
CurrencyDesc                  Which currency do you use day-to-day? If your ...
CurrencySymbol                Which currency do you use day-to-day? If your ...
DatabaseDesireNextYear        Which database environments have you done exte...
DatabaseWorkedWith            Which database environments have you done exte...
DevType                       Which of the following describe you? Please se...
EdLevel                       Which of the following best describes the high...
Employment                    Which of the following best describes your cur...
Ethnicity                     Which of the following describe you, if any? P...
Gender                        Which of the following describe you, if any? P...
JobFactors                    Imagine that you are deciding between two job ...
JobSat                        How satisfied are you with your current job? (...
JobSeek                       Which of the following best describes your cur...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
LanguageWorkedWith            Which programming, scripting, and markup langu...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWEdImpt                     How important is a formal education, such as a...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWLearn                      How frequently do you learn a new language or ...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOtherComms                 Are you a member of any other online developer...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWPurpleLink                 You search for a coding solution online and th...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWStuck                      What do you do when you get stuck on a problem...
OpSys                         What is the primary operating system in which ...
OrgSize                       Approximately how many people are employed by ...
PlatformDesireNextYear        Which platforms have you done extensive develo...
PlatformWorkedWith            Which platforms have you done extensive develo...
PurchaseWhat                  What level of influence do you, personally, ha...
Sexuality                     Which of the following describe you, if any? P...
SOAccount                                 Do you have a Stack Overflow account?
SOComm                        Do you consider yourself a member of the Stack...
SOPartFreq                    How frequently would you say you participate i...
SOVisitFreq                   How frequently would you say you visit Stack O...
SurveyEase                    How easy or difficult was this survey to compl...
SurveyLength                  How do you feel about the length of the survey...
Trans                                                      Are you transgender?
UndergradMajor                            What was your primary field of study?
WebframeDesireNextYear        Which web frameworks have you done extensive d...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WelcomeChange                 Compared to last year, how welcome do you feel...
WorkWeekHrs                   On average, how many hours per week do you wor...
YearsCode                     Including any education, how many years have y...
YearsCodePro                  NOT including education, how many years have y...

In [14]:
schema_df.loc['Hobbyist']

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

In [15]:
df.loc[1]

MainBranch                                         I am a developer by profession
Hobbyist                                                                      Yes
Age                                                                           NaN
Age1stCode                                                                     13
CompFreq                                                                  Monthly
CompTotal                                                                     NaN
ConvertedComp                                                                 NaN
Country                                                                   Germany
CurrencyDesc                                                        European Euro
CurrencySymbol                                                                EUR
DatabaseDesireNextYear                                       Microsoft SQL Server
DatabaseWorkedWith                      Elasticsearch;Microsoft SQL Server;Oracle
DevType                         Developer, desktop or enterprise applications;...
EdLevel                           Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
Employment                      Independent contractor, freelancer, or self-em...
Ethnicity                                            White or of European descent
Gender                                                                        Man
JobFactors                      Languages, frameworks, and other technologies ...
JobSat                                                         Slightly satisfied
JobSeek                              I am not interested in new job opportunities
LanguageDesireNextYear                                     C#;HTML/CSS;JavaScript
LanguageWorkedWith                                         C#;HTML/CSS;JavaScript
MiscTechDesireNextYear                                          .NET Core;Xamarin
MiscTechWorkedWith                                                 .NET;.NET Core
NEWCollabToolsDesireNextYear               Microsoft Teams;Microsoft Azure;Trello
NEWCollabToolsWorkedWith             Confluence;Jira;Slack;Microsoft Azure;Trello
NEWDevOps                                                                      No
NEWDevOpsImpt                                                  Somewhat important
NEWEdImpt                                                        Fairly important
NEWJobHunt                                                                    NaN
NEWJobHuntResearch                                                            NaN
NEWLearn                                                              Once a year
NEWOffTopic                                                              Not sure
NEWOnboardGood                                                                NaN
NEWOtherComms                                                                  No
NEWOvertime                                      Often: 1-2 days per week or more
NEWPurchaseResearch             Start a free trial;Ask developers I know/work ...
NEWPurpleLink                                                              Amused
NEWSOSites                       Stack Overflow (public Q&A for anyone who codes)
NEWStuck                        Visit Stack Overflow;Go for a walk or other ph...
OpSys                                                                     Windows
OrgSize                                                          2 to 9 employees
PlatformDesireNextYear             Android;iOS;Kubernetes;Microsoft Azure;Windows
PlatformWorkedWith                                                        Windows
PurchaseWhat                                                                  NaN
Sexuality                                                 Straight / Heterosexual
SOAccount                                                                      No
SOComm                                                             No, not at all
SOPartFreq                                                                    NaN
SOVisitFreq                                                Multiple times per day
SurveyEase                                             Neither easy nor difficult
SurveyLength                                                Appropriate in length
Trans                                                                          No
UndergradMajor                  Computer science, computer engineering, or sof...
WebframeDesireNextYear                                               ASP.NET Core
WebframeWorkedWith                                           ASP.NET;ASP.NET Core
WelcomeChange                             Just as welcome now as I felt last year
WorkWeekHrs                                                                  50.0
YearsCode                                                                      36
YearsCodePro                                                                   27
Name: 1, dtype: object

In [16]:
schema_df.loc['MainBranch' , 'QuestionText']

'Which of the following options best describes you today? Here, by "developer" we mean "someone who writes code."'

In [17]:
schema_df.sort_index()

                                                                   QuestionText
Column
Age                           What is your age (in years)? If you prefer not...
Age1stCode                    At what age did you write your first line of c...
CompFreq                       Is that compensation weekly, monthly, or yearly?
CompTotal                     What is your current total compensation (salar...
ConvertedComp                 Salary converted to annual USD salaries using ...
Country                                                      Where do you live?
CurrencyDesc                  Which currency do you use day-to-day? If your ...
CurrencySymbol                Which currency do you use day-to-day? If your ...
DatabaseDesireNextYear        Which database environments have you done exte...
DatabaseWorkedWith            Which database environments have you done exte...
DevType                       Which of the following describe you? Please se...
EdLevel                       Which of the following best describes the high...
Employment                    Which of the following best describes your cur...
Ethnicity                     Which of the following describe you, if any? P...
Gender                        Which of the following describe you, if any? P...
Hobbyist                                                Do you code as a hobby?
JobFactors                    Imagine that you are deciding between two job ...
JobSat                        How satisfied are you with your current job? (...
JobSeek                       Which of the following best describes your cur...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
LanguageWorkedWith            Which programming, scripting, and markup langu...
MainBranch                    Which of the following options best describes ...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWEdImpt                     How important is a formal education, such as a...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWLearn                      How frequently do you learn a new language or ...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOtherComms                 Are you a member of any other online developer...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWPurpleLink                 You search for a coding solution online and th...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWStuck                      What do you do when you get stuck on a problem...
OpSys                         What is the primary operating system in which ...
OrgSize                       Approximately how many people are employed by ...
PlatformDesireNextYear        Which platforms have you done extensive develo...
PlatformWorkedWith            Which platforms have you done extensive develo...
PurchaseWhat                  What level of influence do you, personally, ha...
Respondent                    Randomized respondent ID number (not in order ...
SOAccount                                 Do you have a Stack Overflow account?
SOComm                        Do you consider yourself a member of the Stack...
SOPartFreq                    How frequently would you say you participate i...
SOVisitFreq                   How frequently would you say you visit Stack O...
Sexuality                     Which of the following describe you, if any? P...
SurveyEase                    How easy or difficult was this survey to compl...
SurveyLength                  How do you feel about the length of the survey...
Trans                                                      Are you transgender?
UndergradMajor                            What was your primary field of study?
WebframeDesireNextYear        Which web frameworks have you done extensive d...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WelcomeChange                 Compared to last year, how welcome do you feel...
WorkWeekHrs                   On average, how many hours per week do you wor...
YearsCode                     Including any education, how many years have y...
YearsCodePro                  NOT including education, how many years have y...

In [18]:
schema_df.sort_index(ascending=False , inplace=True)

In [19]:
# help(schema_df.sort_index)

In [20]:
high_salary = ( df['ConvertedComp'] > 5000 )
yemeni_dev = ( df['Country'] == 'Yemen')

In [21]:
df.loc[yemeni_dev , ['Country' , 'LanguageWorkedWith' , 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
8073,Yemen,HTML/CSS;JavaScript;PHP;SQL,NaN
38041,Yemen,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,NaN
39232,Yemen,NaN,NaN
62670,Yemen,C#;HTML/CSS;JavaScript;SQL,36000.0
62960,Yemen,C#;C++;Dart;HTML/CSS;Java;SQL,NaN
64285,Yemen,HTML/CSS;Java;JavaScript;PHP;SQL,NaN
64634,Yemen,C#;HTML/CSS;JavaScript;SQL;TypeScript,NaN

In [22]:
countries = ['United States' , 'India' , 'Canada' , 'United Kingdom']
filt = df['Country'].isin(countries)

In [23]:
df.loc[filt , ['Country' , 'LanguageWorkedWith' , 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
2,United Kingdom,JavaScript;Swift,NaN
5,United States,HTML/CSS;Ruby;SQL,NaN
7,India,C#;HTML/CSS;PHP,NaN
8,United States,Python;SQL,116000.0
10,United Kingdom,HTML/CSS;Java;JavaScript;Python;SQL,32315.0
...,...,...,...
62834,Canada,C;C#;C++;Java,NaN
62954,India,SQL,NaN
63077,United States,C++;HTML/CSS;Java;JavaScript;Python;SQL,NaN
64236,India,NaN,NaN
64858,United States,NaN,NaN

In [24]:
filt = df['LanguageWorkedWith'].str.contains('Python' , na=False)

In [25]:
df.loc[filt , ['Country' , 'LanguageWorkedWith' , 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
3,Russian Federation,Objective-C;Python;Swift,NaN
8,United States,Python;SQL,116000.0
10,United Kingdom,HTML/CSS;Java;JavaScript;Python;SQL,32315.0
13,Netherlands,C;JavaScript;Python,38916.0
15,France,Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL,NaN
...,...,...,...
61561,France,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...,NaN
62391,Morocco,C++;HTML/CSS;JavaScript;Python;Ruby;TypeScript,NaN
63077,United States,C++;HTML/CSS;Java;JavaScript;Python;SQL,NaN
63640,Australia,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...,NaN
64867,Morocco,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,NaN

In [26]:
pd.set_option('display.max_rows' , 5)
pd.set_option('display.max_columns' , 5)

In [27]:
df.rename(columns = {
    'ConvertedComp' : 'SalaryUSD',
} , inplace=True)

df

,MainBranch,Hobbyist,...,YearsCode,YearsCodePro
Respondent,,,,,
1,I am a developer by profession,Yes,...,36,27
2,I am a developer by profession,No,...,7,4
...,...,...,...,...,...
64925,NaN,Yes,...,NaN,NaN
65112,NaN,Yes,...,NaN,NaN

In [28]:
df['SalaryUSD'].count() #number of non-NA/null observations in the Series.

34756

In [29]:
df['Hobbyist'].replace({
    'Yes' : True , 
    'No' : False
} , inplace=True)

In [30]:
# df['Hobbyist'] = df['Hobbyist'].map({
#     'Yes' : True , 
#     'No' : False,
# })

In [31]:
df['Hobbyist']

Respondent
1         True
2        False
         ...
64925     True
65112     True
Name: Hobbyist, Length: 64461, dtype: object

In [32]:
pd.set_option('display.max_rows' , 50)
pd.set_option('display.max_columns' , 60)

In [33]:
df.sort_values( by=['Country' , 'SalaryUSD'] , ascending=[True , False] , inplace=True)

In [34]:
df[ ['Country' , 'SalaryUSD'] ].head(50)

                Country  SalaryUSD
Respondent
62788       Afghanistan  1000000.0
65381       Afghanistan  1000000.0
65456       Afghanistan  1000000.0
38672       Afghanistan   231192.0
28374       Afghanistan   130000.0
9839        Afghanistan    23328.0
63848       Afghanistan    23328.0
51862       Afghanistan    20950.0
51509       Afghanistan    20220.0
44484       Afghanistan    18660.0
15422       Afghanistan    18000.0
2932        Afghanistan    16335.0
26540       Afghanistan    13992.0
57269       Afghanistan    10884.0
26775       Afghanistan     8016.0
30568       Afghanistan     5448.0
30522       Afghanistan     4668.0
28811       Afghanistan     4509.0
34969       Afghanistan     4356.0
26857       Afghanistan     2328.0
33878       Afghanistan     1860.0
35753       Afghanistan      780.0
18049       Afghanistan      109.0
35295       Afghanistan        0.0
898         Afghanistan        NaN
5972        Afghanistan        NaN
7616        Afghanistan        NaN
7710        Afghanistan        NaN
8631        Afghanistan        NaN
8856        Afghanistan        NaN
9486        Afghanistan        NaN
9617        Afghanistan        NaN
10350       Afghanistan        NaN
23798       Afghanistan        NaN
24215       Afghanistan        NaN
25001       Afghanistan        NaN
26575       Afghanistan        NaN
26594       Afghanistan        NaN
26623       Afghanistan        NaN
29893       Afghanistan        NaN
30608       Afghanistan        NaN
31317       Afghanistan        NaN
35179       Afghanistan        NaN
35656       Afghanistan        NaN
35687       Afghanistan        NaN
36574       Afghanistan        NaN
37159       Afghanistan        NaN
37601       Afghanistan        NaN
37698       Afghanistan        NaN
37951       Afghanistan        NaN

In [35]:
df['SalaryUSD'].nlargest(10)

Respondent
5725     2000000.0
54263    2000000.0
43430    2000000.0
59279    2000000.0
46711    2000000.0
123      2000000.0
125      2000000.0
193      2000000.0
665      2000000.0
699      2000000.0
Name: SalaryUSD, dtype: float64

In [36]:
df.nlargest(5 , 'SalaryUSD')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
5725,I am a developer by profession,False,26.0,14,Monthly,1.800000e+05,2000000.0,Canada,United States dollar,USD,Redis,NaN,"Developer, back-end;DevOps specialist","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,Go;Python;Ruby;TypeScript,Bash/Shell/PowerShell;JavaScript;Python,Teraform,NaN,"Github;Gitlab;Google Suite (Docs, Meet, etc)","Github;Google Suite (Docs, Meet, etc)",Yes,Extremely important,Very important,Trouble with my teammates;Better work/life bal...,"Read company media, such as employee blogs or ...",Once a year,No,Yes,No,Often: 1-2 days per week or more,NaN,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Go for a walk or oth...,Linux-based,"10,000 or more employees",Docker;Google Cloud Platform,Docker;Google Cloud Platform,I have little or no influence,Straight / Heterosexual,Yes,"No, not at all",I have never participated in Q&A on Stack Over...,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Gatsby,Spring,Not applicable - I did not use Stack Overflow ...,40.0,10,4
54263,I am a developer by profession,True,29.0,10,Weekly,7.000000e+04,2000000.0,Canada,United States dollar,USD,Redis,Firebase;PostgreSQL;SQLite,"Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,South Asian,Man,"Flex time or a flexible schedule;Languages, fr...",Slightly satisfied,"I’m not actively looking, but I am open to new...",Go;Haskell;Rust,Dart;Java;JavaScript;Kotlin;Python;TypeScript,React Native;TensorFlow;Torch/PyTorch,Flutter;Node.js,Facebook Workplace,Confluence;Jira;Github;Gitlab;Slack;Microsoft ...,Yes,Extremely important,Somewhat important,Just because;Curious about other opportunities...,"Read company media, such as employee blogs or ...",Every few months,Not sure,Yes,Yes,Rarely: 1-2 days per year or less,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Meditate;Visit Stack Overflow;Go for a walk or...,MacOS,NaN,Docker;Heroku;iOS;Kubernetes,Android;AWS;Linux,I have some influence,Straight / Heterosexual,Not sure/can't remember,"Yes, somewhat",NaN,Daily or almost daily,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",React.js;Vue.js,Express;Flask;jQuery,Just as welcome now as I felt last year,36.0,14,5
43430,I am a developer by profession,True,33.0,17,Monthly,1.710000e+05,2000000.0,Italy,United States dollar,USD,NaN,NaN,"Academic researcher;Developer, back-end;Develo...","Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,White or of European descent,Man,"Languages, frameworks, and other technologies ...",Very satisfied,I am not interested in new job opportunities,Assembly;Bash/Shell/PowerShell;C;C++;Perl;Python,Assembly;Bash/Shell/PowerShell;C;C++;Perl;Python,NaN,NaN,Confluence;Jira;Github;Gitlab;Slack;Google Sui...,Confluence;Jira;Github;Gitlab;Slack;Google Sui...,Yes,Somewhat important,Fairly important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once every few years,Not sure,Yes,No,Often: 1-2 days per week or more,Start a free trial,Indifferent,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Go for a walk or oth...,Linux-based,"10,000 or more employees",Android;Linux;MacOS;Windows,Android;Linux;MacOS;Windows,I have some influence,Straight / Heterosexual,Yes,"No, not at all",I have never participated in Q&A on Stack Over...,A few times per month or weekly,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,2
59279,I am a developer by profession,True,NaN,12,Monthly,3.000000e+05,2000000.0,Nepal,United States dollar,USD,Cassandra;Couchbase;DynamoDB;IBM DB2;MariaDB;M...,Elasticsearch;Firebase;Microsoft SQL Server;My...,Data or business analyst;Data scientist or mac...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,South Asian;Southeast Asian,NaN,Flex time or a flexible schedule;Remote work o...,Very satisfied,"I’m not actively looking, but I am open to new...",Dart;Go;Haskell;Julia;Kotlin;Perl;PHP;R;Ruby;R...,Assembly;Bash/Shell/PowerShell;C;C#;C++;HTML/C...,Ansible;Apache Spark;Flutter;Hadoop;Keras;Pand...,.NET;.NET Core;Chef;Cordova;Node.js;React Nati...,Gitlab;Trello,Confluence;Jira;Github;Facebook Workplace;Slac...,Yes,Extremely important,NaN,Having a bad day (or week or month) at work;Tr...,"Read company media, such as employee blogs or ...",NaN,Yes,Yes,No,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,"1,000 to 4,999 employees",Arduino;Heroku;IBM Cloud or Watson;Kubernetes;...,Android;AWS;Docker;Google Cloud Platform;iOS;L...,I have a great deal of influence,NaN,Yes,"Yes, somewhat",I have never participated in Q&A on Stack Over...,Multiple times per day,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Django;Drupal;Flask;Gatsby;Laravel,Angular;Angular.js;ASP.NET;ASP.NET Core;Expres...,A lot more welcome now than last year,40.0,20,14
46711,I am a developer by profession,True,NaN,Younger than 5 years,Yearly,1.000000e+56,2000000.0,Nomadic,United States dollar,USD,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Academic researcher;Data or business analyst;D...,Primary/elementary school,Employed full-time,NaN,NaN,"Languages, frameworks, and other technologies ...",Very satisfied,"I’m not actively looking, but I am open to new...",Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,.NET;.NET Core;Ansible;Apache Spark;Chef;Cordo...,.NET;.NET Core;Ansible;Apache Spark;Chef;Cordo...,Confluence;Jira;Github;Gitlab;Facebook Workpla...,Confluence;Jira;Github;Gitlab;Facebook Workpla...,Yes,Extremely important,Not at all important/not necessary,Just because;Having a bad day (or week or mont...,"Read company media, such as employee blogs or ...",Every few months,NaN,Yes,NaN,Often: 1-2 days per week or more,NaN,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Meditate;Play games;Call a coworker or friend;...,NaN,"10,000 or more employees",Android;Arduino;AWS;Docker;Google Cloud Platfo...,Android;Arduino;AWS;Docker;Google Cloud Platfo...,I have little or no influence,NaN,NaN,NaN,NaN,Multiple times per day,NaN,NaN,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,NaN,168.0,More than 50 years,More than 50 years

In [37]:
df.nsmallest(5 , 'SalaryUSD')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
35295,I am a developer by profession,True,NaN,13,Monthly,2.0,0.0,Afghanistan,Afghan afghani,AFN,NaN,MySQL;PostgreSQL;SQLite,Academic researcher;Educator;Scientist,"Other doctoral degree (Ph.D., Ed.D., etc.)","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,Very dissatisfied,I am actively looking for a job,NaN,Assembly;Bash/Shell/PowerShell;C;C++;Java;Java...,NaN,TensorFlow;Unity 3D,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a year,Yes,Onboarding? What onboarding?,Yes,Often: 1-2 days per week or more,Read ratings or reviews on third party sites l...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Go for a walk or other physical act...,Linux-based,"Just me - I am a freelancer, sole proprietor, ...",NaN,Android;iOS;Linux;MacOS,NaN,NaN,Yes,"No, not at all",Less than once per month or monthly,Multiple times per day,Neither easy nor difficult,Appropriate in length,NaN,"Another engineering discipline (such as civil,...",NaN,jQuery,A lot less welcome now than last year,100.0,35,27
47357,I am a developer by profession,True,NaN,5,Weekly,1.0,0.0,Albania,Bhutanese ngultrum,BTN,MariaDB,NaN,Academic researcher,Primary/elementary school,Employed full-time,NaN,NaN,Family friendliness,Neither satisfied nor dissatisfied,I am actively looking for a job,Bash/Shell/PowerShell;C,NaN,Hadoop,NaN,"Google Suite (Docs, Meet, etc)",NaN,No,Extremely important,Somewhat important,Just because,"Read company media, such as employee blogs or ...",Once a decade,NaN,Yes,No,Rarely: 1-2 days per year or less,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Play games,Linux-based,"Just me - I am a freelancer, sole proprietor, ...",AWS,NaN,NaN,NaN,Yes,"No, not at all",Daily or almost daily,A few times per month or weekly,NaN,NaN,NaN,NaN,Drupal,NaN,Somewhat less welcome now than last year,168.0,2,11
6054,I am a developer by profession,True,38.0,15,Yearly,0.0,0.0,Australia,Australian dollar,AUD,NaN,MySQL,"Designer;Developer, back-end;Developer, front-...","Secondary school (e.g. American high school, G...","Independent contractor, freelancer, or self-em...",NaN,Man,"Flex time or a flexible schedule;Languages, fr...",Very satisfied,I am not interested in new job opportunities,NaN,PHP,NaN,NaN,NaN,NaN,No,Neutral,Not at all important/not necessary,NaN,NaN,Once every few years,Not sure,Onboarding? What onboarding?,Yes,Often: 1-2 days per week or more,NaN,Indifferent,Stack Overflow (public Q&A for anyone who code...,NaN,MacOS,"Just me - I am a freelancer, sole proprietor, ...",NaN,MacOS,NaN,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,Easy,Too long,No,NaN,NaN,Laravel,A lot less welcome now than last year,30.0,22,20
27135,I am a developer by profession,False,NaN,16,Yearly,0.0,0.0,Australia,Australian dollar,AUD,MySQL,MySQL,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",NaN,Man,Industry that I’d be working in;How widely use...,Very satisfied,"I’m not actively looking, but I am open to new...",Go;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;PHP;Python;R;SQL;VBA,Apache Spark;Node.js;Pandas;TensorFlow;Torch/P...,Apache Spark;Node.js;Pandas;TensorFlow;Torch/P...,Jira;Github;Trello,Jira;Github;Trello,No,Extremely important,Fairly important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Every few months,Not sure,Onboarding? What onboarding?,No,Often: 1-2 days per week or more,Start a free trial;Visit developer communities...,Indifferent,Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Go for a walk ...,Windows,2 to 9 employees,Raspberry Pi;Windows,Google Cloud Platform;Raspberry Pi;Windows,NaN,NaN,Yes,"No, not really",I have never participated in Q&A on Stack Over...,A few times per week,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",Angular.js;Django;jQuery;React.js;Vue.js,Django;jQuery;React.js,Just as welcome now as I felt last year,80.0,15,15
60292,I am a developer by profession,True,NaN,12,Yearly,0.0,0.0,Austria,European Euro,EUR,NaN,NaN,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fairly important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"10,000 or more employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,18,10

In [38]:
df['SalaryUSD'].head(15)

Respondent
62788    1000000.0
65381    1000000.0
65456    1000000.0
38672     231192.0
28374     130000.0
9839       23328.0
63848      23328.0
51862      20950.0
51509      20220.0
44484      18660.0
15422      18000.0
2932       16335.0
26540      13992.0
57269      10884.0
26775       8016.0
Name: SalaryUSD, dtype: float64

In [39]:
df['SalaryUSD'].median()

54049.0

In [40]:
df.median() #in a future version this will raise TypeError.

<ipython-input-40-1794fc0b7e28>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median() #in a future version this will raise TypeError.

Hobbyist           1.0
Age               29.0
CompTotal      63000.0
SalaryUSD      54049.0
WorkWeekHrs       40.0
dtype: float64

In [41]:
df.describe()

                Age      CompTotal     SalaryUSD   WorkWeekHrs
count  45446.000000   3.482600e+04  3.475600e+04  41151.000000
mean      30.834111  3.190464e+242  1.037561e+05     40.782174
std        9.585392            inf  2.268853e+05     17.816383
min        1.000000   0.000000e+00  0.000000e+00      1.000000
25%       24.000000   2.000000e+04  2.464800e+04     40.000000
50%       29.000000   6.300000e+04  5.404900e+04     40.000000
75%       35.000000   1.250000e+05  9.500000e+04     44.000000
max      279.000000  1.111111e+247  2.000000e+06    475.000000

In [42]:
df['SalaryUSD'].count()

34756

In [43]:
df['Hobbyist'].value_counts()

True     50388
False    14028
Name: Hobbyist, dtype: int64

In [44]:
df['OpSys'].value_counts()

Windows        27170
Linux-based    14932
MacOS          14075
BSD               51
Name: OpSys, dtype: int64

In [45]:
df['OpSys'].value_counts(normalize=True)

Windows        0.483211
Linux-based    0.265562
MacOS          0.250320
BSD            0.000907
Name: OpSys, dtype: float64

In [46]:
df['Country'].value_counts()

United States       12469
India                8403
United Kingdom       3896
Germany              3890
Canada               2191
                    ...
Liechtenstein           1
Mali                    1
Marshall Islands        1
Nauru                   1
Lesotho                 1
Name: Country, Length: 183, dtype: int64

In [47]:
country_grp = df.groupby( ['Country'] )

In [48]:
country_grp.get_group('India')['OpSys'].value_counts()

Windows        3426
Linux-based    2077
MacOS          1158
BSD               5
Name: OpSys, dtype: int64

In [49]:
filt = df['Country'] == 'United States'
df.loc[filt]['OpSys'].value_counts()

Windows        4874
MacOS          4082
Linux-based    2445
BSD               8
Name: OpSys, dtype: int64

In [50]:
filt = df['OpSys'] == 'Linux-based'
df[filt]['OpSys'].count()

14932

In [51]:
country_grp['OpSys'].value_counts().head()

Country      OpSys
Afghanistan  Windows        31
             Linux-based     8
             MacOS           5
Albania      Windows        24
             MacOS           7
Name: OpSys, dtype: int64

In [52]:
country_grp['OpSys'].value_counts(normalize=True).loc['United States']

OpSys
Windows        0.427207
MacOS          0.357788
Linux-based    0.214304
BSD            0.000701
Name: OpSys, dtype: float64

In [53]:
# country_grp['SalaryUSD'].median().loc['Yemen']
country_grp['SalaryUSD'].median()

Country
Afghanistan                             15163.5
Albania                                 15900.0
Algeria                                  9432.0
Andorra                                 88640.0
Angola                                   5292.0
                                         ...
Venezuela, Bolivarian Republic of...     3600.0
Viet Nam                                10344.0
Yemen                                   36000.0
Zambia                                   5452.0
Zimbabwe                                 7200.0
Name: SalaryUSD, Length: 183, dtype: float64

In [54]:
# country_grp['SalaryUSD'].agg(['median' , 'mean']).loc['Yemen'] return series
country_grp['SalaryUSD'].agg(['median' , 'mean']) #return DataFrame

                                       median           mean
Country
Afghanistan                           15163.5  148290.125000
Albania                               15900.0   25611.000000
Algeria                                9432.0   10362.812500
Andorra                               88640.0   88640.000000
Angola                                 5292.0    5292.000000
...                                       ...            ...
Venezuela, Bolivarian Republic of...   3600.0    6280.611111
Viet Nam                              10344.0   28342.605769
Yemen                                 36000.0   36000.000000
Zambia                                 5452.0   17506.400000
Zimbabwe                               7200.0   26338.181818

[183 rows x 2 columns]

In [55]:
filt = df['Country'] == 'Germany'
# df.loc[filt , 'LanguageWorkedWith'].str.contains('Python').sum()
df[filt]['LanguageWorkedWith'].str.contains('Python').sum()

1712

In [56]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [57]:
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [58]:
country_respondent = df['Country'].value_counts()
country_respondent

United States       12469
India                8403
United Kingdom       3896
Germany              3890
Canada               2191
                    ...
Liechtenstein           1
Mali                    1
Marshall Islands        1
Nauru                   1
Lesotho                 1
Name: Country, Length: 183, dtype: int64

In [59]:
new_df = pd.concat([country_respondent , country_uses_python] , axis=1)
new_df.rename(columns={
    'Country':'NumberOfRespondent',
    'LanguageWorkedWith':'NumKnowsPython'
} , inplace=True)
new_df

                  NumberOfRespondent  NumKnowsPython
United States                  12469            5964
India                           8403            2670
United Kingdom                  3896            1621
Germany                         3890            1712
Canada                          2191            1011
...                              ...             ...
Liechtenstein                      1               0
Mali                               1               0
Marshall Islands                   1               0
Nauru                              1               0
Lesotho                            1               0

[183 rows x 2 columns]

In [60]:
new_df['PCTKnowsPython'] = (new_df['NumKnowsPython'] / new_df['NumberOfRespondent']) * 100

In [61]:
new_df.sort_values(by=['PCTKnowsPython'] , ascending=False)

,NumberOfRespondent,NumKnowsPython,PCTKnowsPython
Saint Lucia,1,1,100.000000
Gabon,1,1,100.000000
"Micronesia, Federated States of...",1,1,100.000000
Montenegro,13,9,69.230769
Brunei Darussalam,3,2,66.666667
...,...,...,...
Saint Vincent and the Grenadines,3,0,0.000000
Burundi,2,0,0.000000
Cape Verde,2,0,0.000000
San Marino,2,0,0.000000
Lesotho,1,0,0.000000

In [62]:
new_df.loc['Japan']

NumberOfRespondent    297.000000
NumKnowsPython        132.000000
PCTKnowsPython         44.444444
Name: Japan, dtype: float64

In [63]:
df['YearsCode'] = df['YearsCode'].fillna('0')
df['YearsCode'] = df['YearsCode'].str.extract('(\d+)' , expand=False).astype(np.uint8)
(df['YearsCode'] > 0).value_counts()

True     57684
False     6777
Name: YearsCode, dtype: int64