In [1]:
import pandas as pd

In [2]:
people = {
    'first':['Hussein' , 'Moataz' , 'Ekram' , 'Adam'],
    'last' :['Sarea' , 'Ahmed' , 'Sarea' , 'Doe'],
    'email':['zzzsdsd@dskd.com' , 'dsd@dsx.com' , 'zzz@dskd.com' , 'lopd@ad.com']
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

     first   last             email
0  Hussein  Sarea  zzzsdsd@dskd.com
1   Moataz  Ahmed       dsd@dsx.com
2    Ekram  Sarea      zzz@dskd.com
3     Adam    Doe       lopd@ad.com

In [5]:
df = df.sort_values(by='last' , ascending=False)

In [6]:
df

     first   last             email
0  Hussein  Sarea  zzzsdsd@dskd.com
2    Ekram  Sarea      zzz@dskd.com
3     Adam    Doe       lopd@ad.com
1   Moataz  Ahmed       dsd@dsx.com

In [12]:
df.sort_values( by=['last' , 'first'] , ascending=False)

     first   last             email
0  Hussein  Sarea  zzzsdsd@dskd.com
2    Ekram  Sarea      zzz@dskd.com
3     Adam    Doe       lopd@ad.com
1   Moataz  Ahmed       dsd@dsx.com

In [14]:
df.sort_values( by=['last' , 'first'] , ascending=[False , True] , inplace=True)

In [15]:
df

     first   last             email
2    Ekram  Sarea      zzz@dskd.com
0  Hussein  Sarea  zzzsdsd@dskd.com
3     Adam    Doe       lopd@ad.com
1   Moataz  Ahmed       dsd@dsx.com

In [16]:
df.sort_index()

     first   last             email
0  Hussein  Sarea  zzzsdsd@dskd.com
1   Moataz  Ahmed       dsd@dsx.com
2    Ekram  Sarea      zzz@dskd.com
3     Adam    Doe       lopd@ad.com

In [17]:
df['last'].sort_values() #sort series

1    Ahmed
3      Doe
2    Sarea
0    Sarea
Name: last, dtype: object